################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDBDemoApp/.vs/MongoDBDemoApp
/MongoDBDemoApp/MongoDBDemo/bin/Debug/netcoreapp3.0
/MongoDBDemoApp/MongoDBDemo/obj
